{{>titulo}}
{{>sidebar}}
<section class="content">
  <div class="container">
    <h3>Bienvenido, {{user.username}}</h3>
    {{user.email}}
    <br>
    <br>
    <form action="/auth/logout" method="get">
        <button type="submit" class="btn w-100">Cerrar sesión</button>
    </form>
  </div>
  <script>
  console.log('hola',document.cookie);
</script>
</section>
