{{>sidebar}}
    <section class="content">
      <div class="container">
        <h1>{{title}}</h1>
        <p>Bienvenido, {{user.username}}</p>
        {{user.email}}
        <form action="/auth/logout" method="get">
            <button type="submit" class="btn w-100">Cerrar sesión</button>
        </form>
      </div>

        </section>
